/********************
Notes CSS
********************/

#SmallNotesHeaderBox {
	width:100%;
	height:1em;
	font-size: 14px;
	color: black;
	font-weight:bold;
	margin-top:1%;
	margin-bottom:2%;
}

#SmallNotesHeaderBox #Author {
	text-align:right;
	float:left;
	width:40%;
}

#SmallNotesHeaderBox #Date {
	text-align:center;
	float:left;
	width:20%;
}

#SmallNotesHeaderBox #Topic {
	text-align:left;
	float:left;
	width:40%;
}

#NotesHeading {
	margin:1%;
	width:100%;
	height:400px;
}

#NotesHeadingPicture {
	width:70%;
	height:100%;
	border:solid 1px;
	margin:0 1%;
	float:left;
}

#NotesHeadingText {
	width:20%;
	border-radius:5px;
	border:solid 1px;
	background-color:#CFEFFF;
	margin:0 1% 1% 1%;
	float:left;
	padding:0 1% 2% 1%;
}

.NotesImage {
	margin: 1% auto;
	width:75%;
}

.NotesImageLeft {
	margin: 1% 2%;
	width:50%;
	float:left;
}

.NotesImageRight {
	margin: 1% 2%;
	width:50%;
	float:right;	
}

.NotesImage img, .NotesImageLeft img, .NotesImageRight img {
	border-style:solid;
	border-width:2px;
	width: 100%;
}

.NotesImage p, .NotesImageLeft p, .NotesImageRight p {
	margin-top:0.5%;
	font-size:12px;
}

.NotesText {
	margin: 1.5% 2.5%;
	line-height: 1.5;
}

.NotesBlockText {
	margin: 1% 12.5%;
	width: 70.5%;
	background-color:#dcdcef;
	border-left: solid black 5px;
	padding: 0.5% 2%;
	border-radius: 0 5px 5px 0;
}

.NotesLink {
	margin-left:2.5%;
	text-decoration:underline !important;
}

.NotesUnderline {
	text-decoration:underline !important;
}

.NotesTextList {
	margin-left:5%;
}

.notes-page-changer {
    padding: 0 2.5%;
    margin: 0 2.5%;
    color: #017789;
}

/********************
Main Pages CSS
********************/

.NotesDefaultText {
	margin-left:3%;
	margin-right:3%;
}

.NotesLatestBox {
	display: inline-block;
	width:95%;
	margin:1% 2.5%;
	border-radius:10px;
	background:#dcdcef;
}

.NotesTopicLatestBox {
	display: inline-block;
	width:40%;
	margin:1% 2.5%;
	height: 12em;
	border-radius:10px;
	background:#dcdcef;
}

.NotesDefaultLine {
	margin-left:3%;
	margin-right:3%;
	border:none;
	height:1px;
	color:black;
	background-color:black;
}

#NotesHighlighter {
	margin:0.5% 4%;
	padding:0.75% 1% 0.75% 1%;
	font-size:16px;
}

#NotesHighlighter:hover {
	background-color:#A2C2CC;
	border-radius:5px;
}

#NotesHighlighter #Name {
	text-align:left;
	float:left;
	font-weight:bold;
}

#NotesHighlighter #Time {
	text-align:right;
	float:right;
	font-size:14px;
}

/********************
Mobile
********************/
@media (max-width:1000px) {
	.NotesImage, .NotesImageLeft, .NotesImageRight {
		width: 90%;
		margin: 5% auto;
		float: none;
	}
	
	.NotesText {
		font-size: 20px;
		margin: 40px 2.5%;	
	}
	
	.NotesBlockText {
		font-size: 20px;
		margin-top: 40px;	
	}
	
	#SmallNotesHeaderBox {
		font-size: 24px;	
	}
	
	#SmallNotesHeaderBox #Author, #SmallNotesHeaderBox #Date, #SmallNotesHeaderBox #Topic {
	    display: block;
	    width: 90%;
	    margin-left: 10%;
	    margin-bottom: 0.5em;
	    text-align: left;
	}
	
	.NotesDefaultText {
		font-size: 28px;	
	}
	
	#NotesHighlighter {
		font-size: 28px;	
	}
	
	#NotesHighlighter #Time, .NotesLatestBox, .NotesTopicLatestBox {
		font-size: 20px;	
	}
	
	.NotesTopicLatestBox {
		width: 95%;
		height: auto;	
	}
	
	.NotesDefaultText {
		margin-top: 50px;	
	}
}