/* Notes Home */

.notes-indiv-container {
    display: block;
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
    border-bottom: solid 2px #c4c6c9;
}

.notes-indiv-container:last-child {
    border-bottom: none;
}

.notes-indiv-container a {
    text-decoration: none;
    color: inherit;
}

.notes-indiv-container .notes-title {
    margin-bottom: 0.25em;
    color: #017789;
}

.notes-indiv-container .notes-title:hover {
    color: #8642ff;
}

.notes-indiv-container .notes-author,
.notes-indiv-container .notes-time {
    margin: 0.25em 0;
    font-weight: 600;
    display: inline-block;
}

.notes-indiv-container .notes-author:after {
    content: "\00a0-\00a0";
}

@media only screen and (max-width: 600px) {
    .notes-indiv-container .notes-author,
    .notes-indiv-container .notes-time {
        display: block;
    }
    
    .notes-indiv-container .notes-author:after {
        content: "";
    }
}

.notes-indiv-container .notes-desc {
    margin: 0.5em 0 0.5em 0;
    display: block;
}

.notes-indiv-container .read-article {
    display: table;
    width: fit-content;
    background: #017789;
    padding: 5px 30px;
    color: white;
    border: solid 2px #017789;
    font-weight: bold;
    margin: 1em 0 0 0;
    text-align: center;
}

.notes-indiv-container .read-article:hover {
    color: #017789;
    background: none;
}

@media only screen and (max-width: 600px) {
    .notes-indiv-container .read-article {
        display: block;
        width: calc(100% - 60px);
    }
}

.notes-page-changer-container {
    width: 100%;
    text-align: center;
    background: #61bdcc;
    padding: 0.75em 0;
    margin: -2em 0;
}

.notes-page-changer {
    padding: 0 2.5%;
    margin: 0 2.5%;
    color: #2a2a2a;
    font-weight: 400;
}

/* Notes Articles */

.notes-text {
    width: 70%;
    float: left;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 600px) {
    .notes-text {
        width: 100%;
        float: none;
        border-bottom: solid 2px #c4c6c9;
    }
}

.notes-text .notes-details {
    display: block;
    text-align: left;
    font-size: 12px;
}

.notes-text .notes-details .author:after,
.notes-text .notes-details .date:after {
    content: "\00a0-\00a0";
}

.notes-text p {
    margin-bottom: 1.5em;
}

.notes-others {
    width: 25%;
    float: right;
    margin: 0;
    padding: 0;
}

.notes-others h2 {
    margin-top: 0;
}

@media only screen and (max-width: 600px) {
    .notes-others {
        width: 100%;
        float: none;
    }

    .notes-others h2 {
        margin-top: 1em;
    }
}

.notes-others img {
    height: 80px;
    width: 100%;
    object-fit: cover;
    display: block;
}

.notes-others .notes-time {
    font-size: 12px;
    font-weight: normal;
    margin-top: 0;
}

.notes-blockquote {
    margin: 1% 12.5%;
	width: auto;
	#background-color:#dcdcef;
	border-left: solid black 5px;
	padding: 0.5% 2%;
	#border-radius: 0 5px 5px 0;
}
/* Images */

.captioned-image {
    display: block;
    margin: 0;
    padding: 0;
}

.captioned-image img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.captioned-image p {
    background: #2a2a2a;
    color: white;
    font-size: 12px;
    margin: 0;
    padding: 0.3em 1em;
    margin-top: -0.7em;
}