@import url('https://fonts.googleapis.com/css?family=B612:400,700&display=swap');

body {
	background: #f0f9ff;
	line-height: 1.5em;
    font-family: 'B612', sans-serif;
	font-size: 16px;
}

#lyric-analysis-container {
	width: 100%;
	padding: 0;
	margin: 2em auto;
}

.right-pane {
	overflow: auto;
	height: calc(90vh - 45px);
}

/* width */
.left-pane textarea::-webkit-scrollbar, .right-pane::-webkit-scrollbar {
    width: 15px;
}

/* Track */
.left-pane textarea::-webkit-scrollbar-track, .right-pane::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.left-pane textarea::-webkit-scrollbar-thumb, .right-pane::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.left-pane textarea::-webkit-scrollbar-thumb:hover, .right-pane::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.left-pane, .right-pane {
	width:45%;
	padding: 0;
	margin: 0;
	display: inline-block;
	float: left;
	margin: 0 2.5%;
	padding: 30px 0;
	background: #fafdff;
	text-align: center;
}

#lyrics textarea {
	width: 90%;
	margin: 0 0 10px 0;
	height: calc(90vh - 100px);
	border: 1px #bbccdd solid;
	resize: none;
	font-size: 20px;
	line-height: 1.5em;
    font-family: 'Arial', sans-serif;
}

#lyrics input {
	width: 90%;
	margin: 0;
	height: 30px;
	background: none;
	border: none;
	border-bottom: 2px black solid;
	font-weight: bold;
	transition: 1s;
	padding: 10px 0;
}

#lyrics input:hover {
	border-bottom: 2px green solid;
	width: 50%;
	cursor: pointer;
}

.right-pane h2 {
	border-bottom: 1px black solid;
	width: 80%;
	margin: 0.25em auto 0.75em;
	padding: 0;
}

.right-pane .clear-finish {
	clear: both;
	height: 0;
	width: 0;
}

.right-pane .stat-section {
	padding: 0;
	margin: 0;
	width: 100%;
	margin-bottom: 2em;
	clear: both;
}

.right-pane .stat-section:last-child {
    margin-bottom: 1em;
}

.right-pane .analysis-1, .right-pane .analysis-2 {
	text-align: center;
	padding: 0;
	margin: 0;
}

.right-pane .analysis-2 {
	width: 100%;
}

.right-pane .analysis-2 > .analysis-1 {
	width: 48%;
	display: inline-block;
}

.right-pane .analysis-3 > .analysis-1 {
	width: 32.5%;
	display: inline-block;
}

@media (max-width:700px) {
	.right-pane .analysis-1 {
		width: 100% !important;
	}
}

.analyser-small-text {
    border-top: 1px black solid;
    width: 80%;
    margin: 0 auto 1em;
    font-size: 0.75em;
    padding: 0.25em 0 0;
}

.right-pane .two-columns .column {
    width: 50%;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.meantip {
    position: relative;
}

.meantip .meantiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 150px;
    bottom: 100%;
    left: 50%;
    margin-left: -75px;
    font-size: 12px;
}

.meantip:hover .meantiptext {
    visibility: visible;
}

.meantip .meantiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

@media (max-width: 700px) {
    .meantip .meantiptext {
        display: none;
    }
}