<div id="footer">
    <div class="footer-width-container">
        <div class="footer-column">
            <h2>Curtis Thompson</h2>
            <p>Well, let me quickly introduce myself... I'm a data scientist from the United Kingdom, interested in taking on new challenges. Oh, and I love running!</p>
        </div>
        
        <div class="footer-column">
            <h2>Menu</h2>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/projects/">Tech</a></li>
            </ul>
        </div>
        
        <div class="footer-column">
            <h2>Get In Touch</h2>
            <ul>
                <li class="website"><a href="/">www.cwthompson.com</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/in/curtis-comp-sci" target="_blank">LinkedIn</a></li>
                <li class="kaggle"><a href="https://www.kaggle.com/cwthompson" target="_blank">Kaggle</a></li>
                <li class="github"><a href="https://github.com/CurtisThompson/" target="_blank">GitHub</a></li>
            </ul>
        </div>
        
        <p class="copyright">&copy; 2015-2022 Curtis Thompson</p>
    </div>
</div>