<div id="header">
	<div id="ct-header">
		<div class="header-width-container">
		    <a href="/"><p>Curtis Thompson</p></a>
		</div>
	</div>
	<div id="menu">
        <div class="header-width-container">
        	<a href="/"><div class="menu-button">
        		<h2>Home</h2>
        	</div></a>
        	<a href="/projects"><div class="menu-button">
        		<h2>Projects</h2>
        	</div></a>
        	<a href="/about"><div class="menu-button">
        		<h2>About</h2>
        	</div></a>
        	<a href="/notes"><div class="menu-button">
        		<h2>Notes</h2>
        	</div></a>
        </div>
    </div>
	<div id="menu-mobile-button"><div class="header-width-container"><h2>&#9776; Menu</h2></div></div>
	<div id="menu-mobile">
	    <div class="header-width-container">
    		<a href="/"><div class="menu-button">
    			<h2>Home</h2>
    		</div></a>
    		<a href="/projects"><div class="menu-button">
    			<h2>Projects</h2>
    		</div></a>
    		<a href="/about"><div class="menu-button">
    			<h2>About</h2>
    		</div></a>
    		<a href="/notes"><div class="menu-button">
    			<h2>Notes</h2>
    		</div></a>
    	</div>
	</div>
    <script src="/js/mobile-menu.js"></script>
</div>