<!DOCTYPE html>

<html lang="en">
	
	<head>
		<!COREHEADER!>
    	<title>Curtis Thompson - <!NOTETITLE!></title>
		<!HEADCONTENT!>
	</head>
	
	<body>
		<!MENU!>
	
		<div id="main-content">
    		<h1 id="small-header-box"><!NOTETITLE!></h1>
    		<div class="notes-text">
        		<div class="notes-details">
					<span class="author"><!NOTEAUTHOR!></span>
					<span class="date"><!NOTEDATE!></span>
					<span class="topic"><!NOTETOPIC!></span>
				</div>
        		
        		<!BODYCONTENT!>
        	</div>
            
            <div class="notes-others">
        		<!NOTEOTHERS!>
            </div>
    	</div>
		
		<!FOOTER!>
	</body>
	
</html>