<!DOCTYPE html>

<html lang="en">

	<head>
		<!COREHEADER!>
	
		<!HEADCONTENT!>
		<title>Curtis Thompson - <!PROJECTNAME!></title>
		<script src="/js/spoiler-change.js"></script>
	</head>
	
	
	<body>
		<!MENU!>
	
		<div id="main-content">
			<h1 id="small-header-box"><!PROJECTNAME!></h1>
			
			<div class="project-text-box">
				<div class="info-row"><span class="info-head">Date</span><span class="info-body"><!PROJECTDATE!></span></div>
				<div class="info-row"><span class="info-head">Role</span><span class="info-body"><!PROJECTROLE!></span></div>
				<div class="info-row"><span class="info-head">Technologies</span><span class="info-body"><!PROJECTTECH!></span></div>
				<div class="info-row"><span class="info-head">Description</span><span class="info-body"><!PROJECTDESC!></span></div>
			</div>
			
			<!PROJECTLINKS!>
			
			<div class="project-text-box project-image-container">
			    <img src="main-image.png" class="project-image" alt="<!PROJECTNAME!>" />
			</div>
			
			<div class="project-text-box">
				<h2>Features</h2>
				<!PROJECTFEATURES!>
			</div>
			
			<div class="project-text-box">
				<h2>Questions</h2>
				<!PROJECTQUESTIONS!>
			</div>
		</div>
		
		<!FOOTER!>
	</body>
	
</html>